.Button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid darkcyan;
  border-radius: 4px;
  background: aquamarine;
  color: darkslategray;
  cursor: pointer;
  /* margin-right: 0rem; */
  text-decoration: none;
  display: inline-block;
}

.Button:focus {
  outline: none;
}

.Button:hover,
.Button:active {
  background: transparent;
  color: #ff0055;
}

.ButtonInverse:hover,
.ButtonInverse:active {
  color: white;
  background: aquamarine;
}

.ButtonDanger {
  background: #830000;
  border-color: #f34343;
  color: white
}

.ButtonDanger:hover,
.ButtonDanger:active {
  color: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.Button_small {
  font-size: 0.5rem;
}

.Button_big {
  font-size: 1.5rem;
}
